In [1]:
# load packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Import the data from a CSV

# Configure data Types for the DataFrame creation.  
# Integers are left out because NaNs generate an error

dtypes = {'ID': str, 
          'Device ID': str, 
          'Vehicle Type': 'category', 
          'Trip Duration': float, 
          'Trip Distance': float, 
          'Census Tract Start': str, 
          'Census Tract End': str}

# Create the dataframe.
#scooters = pd.read_csv('./data/Scooter_Trips.csv', dtype=dtypes)

In [3]:
Micromobility = pd.read_csv('./data/Shared_Micromobility_Vehicle_Trips.csv', dtype=dtypes)

C:\Users\ziyuf\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
scooters = Micromobility[Micromobility['Vehicle Type'] == 'scooter']

In [13]:
scooters_2019 = scooters[scooters['Year'] == 2019]
scooters_2019

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,End Time,Modified Date,Month,Hour,Day of Week,Council District (Start),Council District (End),Year,Census Tract Start,Census Tract End,Start Time (US/Central),End Time (US/Central)
4723758,5e986726-617d-4a50-a65c-f821c382a7aa,1c5a1b0f-e687-46b3-b0d5-648caf2ead04,scooter,300.0,947.0,12/22/2019 06:15:00 AM,12/22/2019 06:30:00 AM,12/22/2019 02:00:12 PM,12,6,6,9,3,2019,48453001100,48453000902,12/22/2019 12:15:00 AM,12/22/2019 12:30:00 AM
4723759,e3182620-db7a-46fc-a1db-1e9da1308023,8d020244-4354-44f9-bd47-d1ce17f8db50,scooter,130.0,39.0,12/22/2019 06:15:00 AM,12/22/2019 06:15:00 AM,12/22/2019 02:00:12 PM,12,6,6,9,9,2019,48453001100,48453001100,12/22/2019 12:15:00 AM,12/22/2019 12:15:00 AM
4723760,24f5a42c-43a8-4783-8221-4fde39ed4c98,12022e4a-930f-e9c6-1202-2e4a930fe9c6,scooter,622.0,1979.0,12/22/2019 06:15:00 AM,12/22/2019 06:30:00 AM,12/22/2019 02:28:13 PM,12,6,6,9,9,2019,48453001100,48453001100,12/22/2019 12:15:00 AM,12/22/2019 12:30:00 AM
4723761,700c9c83-f8cb-4fbe-8288-997b19e9dc3a,11c1527f-3072-369a-11c1-527f3072369a,scooter,383.0,2059.0,12/22/2019 06:15:00 AM,12/22/2019 06:30:00 AM,12/22/2019 02:28:13 PM,12,6,6,9,5,2019,48453001100,48453001303,12/22/2019 12:15:00 AM,12/22/2019 12:30:00 AM
4723762,050f0306-1ee9-43b4-a18f-b7704d26a756,4476acbe-9dd8-429b-ba4d-0724cff05394,scooter,536.0,1161.0,12/22/2019 06:15:00 AM,12/22/2019 06:30:00 AM,12/22/2019 02:00:12 PM,12,6,6,9,9,2019,48453001100,48453001100,12/22/2019 12:15:00 AM,12/22/2019 12:30:00 AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10794679,ab093418-a8ea-43a2-8a35-a27ba6e085e0,103e5b6f-884c-4782-bbcc-a21e2723746b,scooter,6056.0,3906.0,12/31/2018 10:30:00 PM,01/01/2019 12:15:00 AM,04/17/2019 02:30:56 AM,1,0,1,9,9,2019,48453001100,48453001100,12/31/2018 04:30:00 PM,12/31/2018 06:15:00 PM
10794680,48e4707c-80ed-4672-a860-44283f77beca,d022839d-5cdc-4538-9192-95ba497d3730,scooter,6097.0,3745.0,12/31/2018 10:30:00 PM,01/01/2019 12:15:00 AM,04/17/2019 02:30:56 AM,1,0,1,9,9,2019,48453001100,48453001100,12/31/2018 04:30:00 PM,12/31/2018 06:15:00 PM
10794930,02455063-500d-4608-acf8-affddc3431b8,c588b27c-3791-536f-b2a1-e4ccf7e88566,scooter,42585.0,20052.0,12/31/2018 10:15:00 PM,01/01/2019 10:00:00 AM,06/05/2020 02:33:11 AM,1,10,1,9,2,2019,48453001100,48453002431,12/31/2018 04:15:00 PM,01/01/2019 04:00:00 AM
10795410,aa61b0a4-2807-4ec7-8e41-40a3759d628c,d478bdec-1f32-4a00-ae67-423d46865ee8,scooter,7135.0,18200.0,12/31/2018 10:00:00 PM,01/01/2019 12:00:00 AM,04/17/2019 02:33:54 AM,1,0,1,9,9,2019,48453001305,48453001305,12/31/2018 04:00:00 PM,12/31/2018 06:00:00 PM
10796842,5f549b88-68f3-4f92-930e-3b684d59085e,d0791b7d-465a-4ca1-a0eb-24ba1e59405e,scooter,8367.0,3959.0,12/31/2018 09:30:00 PM,01/01/2019 12:00:00 AM,04/17/2019 02:33:54 AM,1,0,1,9,9,2019,48453001100,48453001100,12/31/2018 03:30:00 PM,12/31/2018 06:00:00 PM

In [14]:
scooters_2019_count = scooters_2019.groupby(['Census Tract Start', 'Day of Week', 'Hour', 'Month']).size().reset_index(name='num_trips')
scooters_2019_count_rm_out = scooters_2019_count[(scooters_2019_count['Census Tract Start'] != 'OUT_OF_BOUNDS') & 
                                                 (scooters_2019_count['Census Tract Start'] != 'None')].reset_index(drop=True)

scooters_2019_count_rm_out

       Census Tract Start  Day of Week  Hour  Month  num_trips
0             48021950100            4    18      6          1
1             48021950300            1    15      5          1
2             48021950300            1    22      8          1
3             48021950300            2    20      2          1
4             48021950300            3    23      8          1
...                   ...          ...   ...    ...        ...
107100        48491021504            5    22     12          1
107101        48491021507            2    20      8          1
107102        48491021507            3    10      8          1
107103        48491021602            1     1      6          1
107104        48491021603            5    20     12          1

[107105 rows x 5 columns]

In [15]:
demo_df = pd.read_csv("./data/TX2017_census_tract_data.csv")
demo_df['TractId'] = demo_df['TractId'].astype(str)
demo_df

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,48001950100,Texas,Anderson County,5067,2572,2495,13.0,76.9,7.6,0.7,...,0.5,0.3,6.8,30.2,2145,77.1,14.8,7.6,0.5,2.9
1,48001950401,Texas,Anderson County,4975,4838,137,24.3,34.4,40.1,0.0,...,0.0,0.0,0.0,11.3,129,34.1,58.9,7.0,0.0,14.6
2,48001950402,Texas,Anderson County,7368,7276,92,21.9,35.1,42.6,0.0,...,0.0,0.0,9.2,4.2,195,72.8,27.2,0.0,0.0,0.0
3,48001950500,Texas,Anderson County,4632,2199,2433,37.3,40.1,20.2,0.4,...,0.0,0.3,3.5,19.3,1937,74.3,13.9,11.7,0.0,6.4
4,48001950600,Texas,Anderson County,6261,3272,2989,15.0,58.6,25.4,0.3,...,0.0,2.1,2.3,16.4,2702,73.2,21.6,5.3,0.0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5260,48505950400,Texas,Zapata County,6009,2884,3125,92.5,5.8,0.0,0.0,...,6.1,0.0,5.2,22.9,1946,71.6,14.7,13.7,0.0,15.2
5261,48507950100,Texas,Zavala County,1174,481,693,98.5,1.5,0.0,0.0,...,19.2,0.0,0.0,27.3,224,99.6,0.4,0.0,0.0,27.5
5262,48507950200,Texas,Zavala County,1712,908,804,80.8,18.6,0.0,0.6,...,3.6,4.2,2.9,17.4,522,62.3,23.4,13.8,0.6,18.4
5263,48507950301,Texas,Zavala County,2112,1218,894,85.2,12.6,1.0,0.0,...,2.2,11.6,1.9,11.8,784,70.5,21.0,8.4,0.0,3.6
5264,48507950302,Texas,Zavala County,7154,3556,3598,98.3,0.8,0.5,0.0,...,0.4,2.6,7.3,12.4,2867,75.0,22.4,2.7,0.0,8.4

In [16]:
merged_df = pd.merge(scooters_2019_count_rm_out, demo_df, left_on="Census Tract Start", right_on="TractId")
merged_df

,Census Tract Start,Day of Week,Hour,Month,num_trips,TractId,State,County,TotalPop,Men,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,48021950100,4,18,6,1,48021950100,Texas,Bastrop County,8334,4088,...,0.4,1.1,6.0,40.2,4005,67.4,22.4,10.0,0.3,5.4
1,48021950300,1,15,5,1,48021950300,Texas,Bastrop County,15255,7591,...,0.7,1.4,5.8,33.5,5811,65.5,25.2,8.8,0.5,6.2
2,48021950300,1,22,8,1,48021950300,Texas,Bastrop County,15255,7591,...,0.7,1.4,5.8,33.5,5811,65.5,25.2,8.8,0.5,6.2
3,48021950300,2,20,2,1,48021950300,Texas,Bastrop County,15255,7591,...,0.7,1.4,5.8,33.5,5811,65.5,25.2,8.8,0.5,6.2
4,48021950300,3,23,8,1,48021950300,Texas,Bastrop County,15255,7591,...,0.7,1.4,5.8,33.5,5811,65.5,25.2,8.8,0.5,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107100,48491021504,5,22,12,1,48491021504,Texas,Williamson County,8012,3918,...,0.0,0.0,7.5,35.2,3932,82.3,16.1,1.6,0.0,3.7
107101,48491021507,2,20,8,1,48491021507,Texas,Williamson County,11105,5417,...,0.6,1.3,4.1,26.7,5903,79.8,15.0,5.2,0.0,4.1
107102,48491021507,3,10,8,1,48491021507,Texas,Williamson County,11105,5417,...,0.6,1.3,4.1,26.7,5903,79.8,15.0,5.2,0.0,4.1
107103,48491021602,1,1,6,1,48491021602,Texas,Williamson County,3067,1556,...,2.2,1.4,9.1,32.9,1149,68.6,15.3,16.0,0.1,9.1
107104,48491021603,5,20,12,1,48491021603,Texas,Williamson County,1535,767,...,0.0,3.2,10.6,24.1,842,76.1,16.6,7.2,0.0,7.7

In [18]:
merged_df.to_csv('./data/merged_df.csv', index=False)